[submodule "themes/roxo"]
	path = themes/roxo
	url = git@github.com:StaticMania/roxo-hugo.git
[submodule "themes/bigspring-light"]
	path = themes/bigspring-light
	url = git@github.com:themefisher/bigspring-hugo.git
